{% extends "layout.njk" %}

{% block title %}
    About
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="main-heading">Welcome, read my story.</h1>
    </div>
{% endblock %}