{% extends "layout.njk" %}

{% block title %}
    Contact
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="main-heading">Contact me, ask me!</h1>
    </div>
{% endblock %}